* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins/poppins-v5-latin-300.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
    /* Legacy iOS */
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black: #222;
    --back2: #999;
    --color-background: #181a1e;
    --color-dark: #edeffd;
    --color-back: #331D2C;
}

.dark-mode-variables {
    --color-back:white;
    --color-background: #f6f6f9;
    --color-white: #202528;
    --color-dark: #202528;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.connect-btn {
    position: absolute
}


.flex-filter {
    display: flex;
}

.flex-filter.active {
    display: flex;
    gap:100px;
    
}



body {
    min-height: 100vh;
    overflow-x: auto;
    background: var(--color-back);
}

.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.container-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.icon2 {
    position: relative;
    display: none;
    min-width: 60px;
    height: 30px;
    line-height: 67px;
    text-align: right;
    margin-left: 150px;
}

.navigationclose {
    width: 100%;
    background: yellow;
    height: 100vh;
    z-index: 1;
    position: absolute;
}

.icon2.active{
    display:none;
}

.icon2 ion-icon {
    font-size: 1.65rem;
}

.navigation {
    position: fixed;
    width: 240px;
    height: 590px;
    background: var(--color-background);
    border-left: 10px solid var(--color-background);
    transition: 0.5s;
    overflow: hidden;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 20px;
}

    .navigation.active {
        width: 80px;
        margin-right: 20px;
    }

    .navigation ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

        .navigation ul li {
            position: relative;
            width: 100%;
            list-style: none;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

            .navigation ul li:hover,
            .navigation ul li .hovered {
                background: var(--white);
            }

            .navigation ul li:nth-child(2) {
                margin-bottom: 40px;
                pointer-events: none;

            }

            .navigation ul li a {
                position: relative;
                display: block;
                width: 100%;
                display: flex;
                text-decoration: none;
                color: var(--color-dark);
            }


            .navigation ul li:hover a,
            .navigation ul li .hovered a {
                color: var(--blue);
            }

                .navigation ul li:hover a::before,
                .navigation ul li .hovered a::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: -50px;
                    width: 50px;
                    height: 50px;
                    background: transparent;
                    border-radius: 50%;
                    box-shadow: 35px 35px 0 10px var(--white);
                    pointer-events: none;
                }

                .navigation ul li:hover a::after,
                .navigation ul li .hovered a::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: -50px;
                    width: 50px;
                    height: 50px;
                    background: transparent;
                    border-radius: 50%;
                    box-shadow: 35px -35px 0 10px var(--white);
                    pointer-events: none;
                }


            .navigation ul li a .icon {
                position: relative;
                display: block;
                min-width: 60px;
                height: 60px;
                line-height: 67px;
                text-align: center;
            }

                .navigation ul li a .icon ion-icon {
                    font-size: 1.65rem;
                }

            .navigation ul li a .title {
                position: relative;
                display: block;
                padding: 0 10px;
                height: 60px;
                line-height: 60px;
                text-align: start;
                white-space: nowrap;
            }

.Phoneview-li{
    display:none;
}

.Left-Navigation {
    width: 200px;
    height: 500px;
    background: var(--color-background);
    border-radius: 25px;
    margin-top: 125px;
    margin-left: auto;
    margin-right: 20px;
}



    /*.Left-Navigation.active {
        margin-left: 1020px;
    }*/


    .Left-Navigation ul {
        margin-top: 265px;
        left: 0;
        width: 100%;
    }

        .Left-Navigation ul li {
            position: relative;
            width: 100%;
            list-style: none;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

            .Left-Navigation ul li:hover,
            .Left-Navigation ul li .hovered {
                background: var(--white);
            }



            .Left-Navigation ul li a {
                position: relative;
                display: block;
                width: 100%;
                display: flex;
                text-decoration: none;
                color: var(--color-dark);
            }


            .Left-Navigation ul li:hover a,
            .Left-Navigation ul li .hovered a {
                color: var(--blue);
            }

                .Left-Navigation ul li:hover a::before,
                .Left-Navigation ul li .hovered a::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: -50px;
                    width: 50px;
                    height: 50px;
                    background: transparent;
                    border-radius: 50%;
                    box-shadow: 35px 35px 0 10px var(--white);
                    pointer-events: none;
                }

                .Left-Navigation ul li:hover a::after,
                .Left-Navigation ul li .hovered a::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: -50px;
                    width: 50px;
                    height: 50px;
                    background: transparent;
                    border-radius: 50%;
                    box-shadow: 35px -35px 0 10px var(--white);
                    pointer-events: none;
                }


            .Left-Navigation ul li a .icon {
                position: relative;
                display: block;
                min-width: 60px;
                height: 60px;
                line-height: 67px;
                text-align: center;
            }

                .Left-Navigation ul li a .icon ion-icon {
                    font-size: 1.65rem;
                }

            .Left-Navigation ul li a .title {
                position: relative;
                display: block;
                padding: 0 10px;
                height: 60px;
                line-height: 60px;
                text-align: start;
                white-space: nowrap;
            }

.advertise-container {
    position: absolute;
    background: orange;
    width: 200px;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    display: block;
}


    .advertise-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

.container1 {
    display: flex;
}



.main {
    position: absolute;
    width: calc(100% - 500px);
    margin-left: 270px;
    min-height: 100vh;
    background: transparent;
    transition: 0.5s;
    border-radius: 25px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

    .main.active {
        margin-left: 30px;
        width: calc(100% - 360px);
        left: 80px;
    }

.topbar {
    width: 1000px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.125);
    background: var(--color-background);
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 0px;
}




.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--color-dark);
}

.notification-icon {
    margin-top: 2px;
    cursor: pointer;
}

    .notification-icon ion-icon {
        font-size: 33px;
        color: var(--color-dark);
    }

.search {
    display: block;
    position: relative;
    width: 400px;
    margin: 0 10px;
}

    .search label {
        position: relative;
        width: 100%;
    }


        .search label input {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            padding: 5px 20px;
            padding-left: 35px;
            outline: none;
        }


        .search label ion-icon {
            position: absolute;
            top: 0;
            left: 10px;
            font-size: 1.3rem;
        }



.user-container {
    position: relative;
    display: flex;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2.5px solid var(--color-dark);
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

    .user img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.cardbox {
    position: absolute;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*grid-template-columns: repeat(4,1fr);*/
    gap: 35px;
}

    .cardbox .card {
        background: var(--white);
        padding: 0px 150px 150px 0px;
        max-width: 275px;
        border-radius: 15px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        justify-content: space-between;
    }

        .cardbox .card .back-card {
            position: absolute;
            background-image: url();
            width: 275px;
            height: 80px;
            border-radius: 15px 10px 0px 0px;
            object-fit: cover;
        }

            .cardbox .card .back-card img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }

        .cardbox .card .carddetails {
            height: 150px;
            padding-top: 20px;
        }

.image {
    position: relative;
    width: 110px;
    height: 110px;
    border: 3px solid antiquewhite;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 10px;
    margin-left: 78px;
    margin-top: 6px;
}

    .image .img-fluid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.numbers {
    font-weight: 500;
    color: transparent;
    padding-left: 10px
}

.name {
    text-align: center;
    color: BLACK;
    font-weight: 800;
    padding-left: 98px;
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: -17px;
    margin-inline-end: 0px;
}

.course {
    font-weight: 500;
    color: #907175;
    padding-left: 98px;
    display: block;
    margin-block-start: 5px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.popup {
    width: 400px;
    backdrop-filter: blur(10px) saturate(0);
    -webkit-backdrop-filter: blur(10px) saturate(0);
    
    border-radius: 10mm;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: rgba(38, 57, 77, 0.5) 0px 20px 30px -10px;
    box-sizing: border-box;
    padding: 20px;
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
}

    .popup .icons {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .popup .title {
        width: 300px;
        height: fit-content;
        font-family: poppins;
        color: rgb(0, 0, 0);
        position: absolute;
        bottom: calc(100% + 20px);
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }

    .popup .icons .icon {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

.symbol {
    width: 55px;
    height: 55px;
    background: rgb(52, 55, 60);
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

.popup .icons .icon .optionname {
    font-family: poppins;
    font-size: 14px;
    color: white;
    margin-top: 3px;
    cursor: pointer;
}

.bodywrapper {
    background: #ffffff;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.4s,top 0.5s;
    transform: translate(-50%,-50%)scale();
    opacity: .8;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
    position: fixed;
}

.open-bodywrapper {
    visibility: visible;
    transform: translate(-50%,-50%)scale(10);
    position:fixed;
}

.open-Requestpopup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-1120%)scale(1);
}

.popup-img {
    width: 270px;
    height:250px;
    margin:20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.filter-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.popup button {
    border-radius: 25px;
    padding: 5px;
    font-size: 14px;
    min-width: 90px;
    color: gray;
    border: gray;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.filter-button {
    border-radius: 25px;
    padding: 5px;
    font-size: 14px;
    min-width: 90px;
    color: gray;
    border: gray;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}



/*.card .icon {
    position: absolute;
    display: block;
    height: 29px;
    text-align: center;
    color: black;
    margin-left: 245px;
    margin-top: 6px;
    background: #eee;
    border: 15px;
    border-radius: 50px;
    width: 29px;
    padding-top:4px;
}

    .card .icon {
        font-size: 20px;
    }*/

.card .icon2 {
    position: absolute;
    display: block;
    height: 29px;
    text-align: center;
    color: black;
    margin-left: 10px;
    margin-top: 6px;
    background: #eee;
    border: 15px;
    border-radius: 50px;
    width: 29px;
    padding-top: 4px;
}

    .card .icon2 i {
        font-size: 20px;
    }

.card .icon3 {
    position: absolute;
    display: block;
    height: 29px;
    text-align: center;
    color: black;
    margin-left: 42px;
    margin-top: 6px;
    background: #eee;
    border: 15px;
    border-radius: 50px;
    width: 29px;
    padding-top: 4px;
}

    .card .icon3 i {
        font-size: 20px;
    }

/*.card .back-card i {
    position:absolute;
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
}
*/

.dark-mode {
    background-color: #ddd;
    display: flex;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 25px;
    justify-content: space-around;
    margin-top: 20px;
    margin-inline: auto;
}

.filter {
    height: 29px;
    color: black;
    margin-top: 20px;
    background: #ddd;
    border: 15px;
    border-radius: 25px;
    width: 80px;
    padding-top: 4px;
    padding-left: 10px;
    display: flex;
    gap: 7px;
    cursor: pointer;
    margin-right: 20px;
}

.notification-container {
    width: 100%;
}

.setting-container {
    width: 100%;
}

.preloader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    transition: opacity 6s, visibility 2s;
    position:fixed;
    z-index:1;
}

.preloader--hidden {
    opacity: 0;
    visibility: hidden;

}





.loader {
    width: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.box {
    width: 40px;
    height: 40px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cube-preloader {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3mm solid rgba(0, 15, 46, 0.7);
    background: linear-gradient(45deg, rgb(255, 0, 255), rgb(0, 255, 255));
    background-size: 400% 400%;
    animation: neon 2s ease-in-out infinite alternate;
}

@keyframes neon {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 400% 400%;
    }
}

.front {
    transform: rotateY(0) translateZ(20px);
}

.back {
    transform: rotateY(180deg) translateZ(20px);
}

.left {
    transform: rotateY(-90deg) translateZ(20px);
}

.right {
    transform: rotateY(90deg) translateZ(20px);
}

.top {
    transform: rotateX(90deg) translateZ(20px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(20px);
}

.box2 .front,
.box2 .back,
.box2 .right,
.box2 .left {
    height: 120px;
}

.box2 .bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.box2 .cube-preloader {
    width: 40px;
    height: 120px;
    transform: rotateX(-45deg) rotateY(-45deg);
}

.box2 {
    height: 120px;
}

.box1 {
    align-self: flex-start;
}

    .box1 .cube-preloader {
        transform: rotateX(-45deg) rotateY(-45deg) translateZ(-15px) translateY(-5px);
    }

.box3 .cube-preloader {
    transform: rotateX(-45deg) rotateY(-45deg) translateZ(15px) translateY(0px);
}

@keyframes animate1 {
    0% {
        transform: rotateX(-45deg) rotateY(-45deg) translateZ(15px) translateY(0px);
    }

    10% {
        transform: rotateX(-45deg) rotateY(-45deg) translateZ(15px) translateY(0px);
    }

    25% {
        transform: rotateX(-45deg) rotateY(-135deg) translateZ(15px) translateY(20px);
    }

    35% {
        transform: rotateX(-45deg) rotateY(-135deg) translateZ(15px) translateY(20px);
    }

    50% {
        transform: rotateX(-45deg) rotateY(-225deg) translateZ(-15px) translateY(0px);
    }

    60% {
        transform: rotateX(-45deg) rotateY(-225deg) translateZ(-15px) translateY(0px);
    }

    75% {
        transform: rotateX(-45deg) rotateY(-315deg) translateZ(-18px) translateY(25px);
    }

    85% {
        transform: rotateX(-45deg) rotateY(-315deg) translateZ(-18px) translateY(25px);
    }

    100% {
        transform: rotateX(-45deg) rotateY(-405deg) translateZ(15px) translateY(0px);
    }
}

@keyframes animate2 {
    0% {
        transform: rotateX(-45deg) rotateY(-45deg);
    }

    10% {
        transform: rotateX(-45deg) rotateY(-45deg);
    }

    25% {
        transform: rotateX(-45deg) rotateY(45deg);
    }

    35% {
        transform: rotateX(-45deg) rotateY(45deg);
    }

    50% {
        transform: rotateX(-45deg) rotateY(135deg);
    }

    60% {
        transform: rotateX(-45deg) rotateY(135deg);
    }

    75% {
        transform: rotateX(-45deg) rotateY(225deg);
    }

    85% {
        transform: rotateX(-45deg) rotateY(225deg);
    }

    100% {
        transform: rotateX(-45deg) rotateY(315deg);
    }
}

@keyframes animate3 {
    0% {
        transform: rotateX(-45deg) rotateY(-45deg) translateZ(-15px) translateY(-3px);
    }

    10% {
        transform: rotateX(-45deg) rotateY(-45deg) translateZ(-15px) translateY(-3px);
    }

    25% {
        transform: rotateX(-45deg) rotateY(-135deg) translateZ(-15px) translateY(-25px);
    }

    35% {
        transform: rotateX(-45deg) rotateY(-135deg) translateZ(-15px) translateY(-25px);
    }

    50% {
        transform: rotateX(-45deg) rotateY(-225deg) translateZ(15px) translateY(-3px);
    }

    60% {
        transform: rotateX(-45deg) rotateY(-225deg) translateZ(15px) translateY(-3px);
    }

    75% {
        transform: rotateX(-45deg) rotateY(-315deg) translateZ(12px) translateY(-20px);
    }

    85% {
        transform: rotateX(-45deg) rotateY(-315deg) translateZ(12px) translateY(-20px);
    }

    100% {
        transform: rotateX(-45deg) rotateY(-405deg) translateZ(-15px) translateY(-3px);
    }
}

.box3 .cube-preloader {
    animation: animate1 4s linear infinite;
}

.box2 .cube-preloader {
    animation: animate2 4s linear infinite;
}

.box1 .cube-preloader {
    animation: animate3 4s linear infinite;
}

.text {
    font-family: poppins;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
    font-weight: 500;
}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.cursor {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.big {
    background: black;
    width: 30px;
    height: 30px;
    transition: width 0.3s, height 0.15s;
}

.small {
    width: 15px;
    height: 15px;
    border: 0.5mm solid black;
    transition: 0.05s ease-in;
}

.big.hover {
    width: 45px;
    height: 45px;
    mix-blend-mode: difference;
}

.loader2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.progress-bar {
    width: 100%;
    height: 10px;
    
    position: absolute;
    top: 0;
 
    overflow: hidden;
}

    .progress-bar::after {
        content: '';
        background: #fff;
        width: 0;
        height: 100%;
        position: absolute;
        animation: progress 8s linear forwards;
    }

@keyframes progress {
    100% {
        width: 100%;
    }
}

.Adimage {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 400px;
}

    .Adimage img {
        
        width: 100%;
   
        object-fit: cover;
    }

    .loader-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width:960px) {
    .advertise-container {
        display: none;
    }

    .topbar {
        min-width: 260px;
    }

    .Left-Navigation {
        width: 70px;
        height: 250px;
    }

        .Left-Navigation ul {
            margin-top: 0px;
            left: 0;
            width: 100%;
        }

            .Left-Navigation ul li a .title {
                display: none;
            }
}

@media only screen and (max-width:1322px) {
    .topbar {
        width: auto;
    }


    .navigation {
        min-width: auto;
    }

    .flex-wrapper {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media(max-width:750px) {


    .navigation {
        width: 1px;
        visibility: hidden;
    }

        .navigation.active {
            width: 80px;
            margin-right: 20px;
            visibility: inherit;
        }

        

    .container-wrapper {
        margin-left: 0px;
    }



    .cardbox .card {
        padding: 30px 12px;
    }

    .cardbox {
        flex-direction: column;
    }

    .container1 {
        margin: auto;
    }

    .Main-container {
        margin: auto;
    }

    .Left-Navigation ul {
        margin-top: 0px;
        left: 0;
        width: 100%;
    }

    .Left-Navigation {
        width: 70px;
        height: 250px;
        margin-left: 800px;
        display: none;
    }

    .main {
        margin-left: 0px;
        width: 100%;
    }
}

/*@media(max-width:500px) {
    

    .topbar {
        width: auto;
        min-width: 300px;
    }
}*/

@media(min-width: 500px) {
    .topbar {
        margin-left: 0px;
    }

    .row {
        margin-left: 70px;
    }
}

@media(max-width:350px) {
    .navigation {
        display: none;
    }

    .icon2.active {
        display: block;
    }

}

@media (max-width: 480px) {
    .navigation.active {
        width: 230px;
        height: 100%;
        visibility: inherit;
        position: fixed;
        z-index: 1;
        margin: 0;
        border-radius: 0px;
    }

    .Phoneview-li {
        display: none;
    }

   
}